.dgp h4ff {font-weight: 800; font-size: 1.3em;}
.dgp h3 {font-weight: 200; font-size: 1.2em; color: #333;}
.dgp a {color: #339}
.dgp .val {font-size: 1.3em; text-align: right;}
.dgp samp {color: #080;}
.dgp img {width: 32px; height: 32px; border-radius: 50%;}
